<div class="container">
    <div class="card card-container login">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form [formGroup]="LoginForm" class="form-signin" (ngSubmit)="login()">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="inputUser" class="form-control" placeholder="User" formControlName="user" autofocus>
            <div *ngIf="submitted && LoginForm.controls.user.errors" class="text-danger">
                <div *ngIf="LoginForm.controls.user.errors.required">User is required</div>
            </div>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password">
            <div *ngIf="submitted && LoginForm.controls.password.errors" class="text-danger">
                <div *ngIf="LoginForm.controls.password.errors.required">Password is required</div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin">Sign in</button>
        </form>
        <div class="alert alert-info">
            Enter any username and password, to get api authentication token
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>